body {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.textarea-container {
  position: relative;
}

.topbar {
  color: #bbb;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  justify-content: space-between;
}

.topbar i {
  cursor: pointer;
}

span {
  transition: 0.1s all;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  resize: none;
  width: 500px;
  min-height: 400px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bbb;
  color: #bbb;
  padding: 8px;
  font-size: 14px;
  transition: 0.1s all;
}

textarea:focus {
  border-color: black;
  color: black;
}

textarea:focus ~ .topbar span,
.topbar i:hover {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100px;
  height: 40px;
  color: white;
  background: none;
  border: 1px solid #222;
  color: #222;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .textarea-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .buttons {
    text-align: center;
  }

  #sql {
    width: 100%;
    margin-bottom: 10px;
  }

  #string {
    width: 100%;
  }
}
